::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(227, 155, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffe600;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(227, 155, 0);
}
